@import url(http://fonts.googleapis.com/css?family=Average|Fjalla+One);
.site-wrap > header {
  padding: 1rem 0; }
  .site-wrap > header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .site-wrap > header h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: normal;
    text-align: center; }
  .site-wrap > header h1:first-word {
    font-weight: bold; }
  .site-wrap > header img.portrait {
    max-width: 200px;
    max-height: 200px;
    border: 3px solid gray; }
  .site-wrap > header .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: .5rem auto;
    padding: 0;
    font-size: 1rem; }
  .site-wrap > header ul.contacts {
    margin: 1rem 0;
    list-style: none;
    font-size: 1.1rem;
    font-weight: normal;
    color: #444;
    text-align: center; }
  .site-wrap > header ul.socials {
    display: flex;
    list-style: none; }
    .site-wrap > header ul.socials li {
      margin: 1rem; }
    .site-wrap > header ul.socials i {
      font-size: 1.5rem;
      color: gray;
      transition: transform 0.8s ease, color 0.5s ease; }
    .site-wrap > header ul.socials i.fa-github:hover {
      color: #111; }
    .site-wrap > header ul.socials i.fa-linkedin-square:hover {
      color: #03659A; }
    .site-wrap > header ul.socials i.fa-stack-overflow:hover {
      color: #FF9900; }
    .site-wrap > header ul.socials i.fa-twitter:hover {
      color: #4099FF; }

.item {
  padding: 1rem;
  border-bottom: 1px solid #DDD; }
  .item:last-child {
    border-bottom: none; }
  .item h3 {
    font-size: 1.6em; }
    .item h3 span {
      color: gray; }
  .item h4 {
    font-size: 1rem;
    color: #888; }
  .item img {
    width: 180px;
    min-width: 180px;
    border: 1px solid #CCC; }
  .item p {
    font-size: 1em;
    text-align: justify; }
  .item ul {
    margin: 1rem 2rem;
    font-size: 0.9em; }

.education-item {
  display: flex;
  flex-direction: column; }
  .education-item header {
    margin-bottom: .5rem; }
    .education-item header .meta {
      list-style: none;
      font-size: 1rem;
      color: #888;
      margin: 0; }
      .education-item header .meta li {
        display: inline;
        margin-right: 1.5rem; }

.work-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .work-item hgroup {
    margin-bottom: .5rem; }
  .work-item .content {
    margin-right: 1rem; }

.skills-table {
  width: 90%;
  margin: 1rem auto;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-collapse: collapse; }
  .skills-table tr {
    border-bottom: 1px solid #BBB; }
  .skills-table tr:last-child {
    border-bottom: none; }
  .skills-table td:nth-child(1) {
    width: 75%;
    padding: .5rem; }
  .skills-table td:nth-child(2) {
    font-size: 1.1rem;
    font-style: normal;
    font-weight: normal;
    text-align: right; }
  .skills-table ul {
    list-style: none;
    color: #666;
    font-size: 0.9rem;
    margin-top: .5rem;
    font-weight: normal; }
  .skills-table li {
    display: inline; }
  .skills-table li:after {
    content: ", "; }
  .skills-table li:last-child:after {
    content: "."; }

#goals p {
  width: 80%;
  margin: 1rem auto;
  text-align: justify;
  font-size: 1.3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  color: #333; }

.sansserif, .education-item header .meta li, .skills-table td:nth-child(1), .skills-table td:nth-child(2), h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif; }

.serif, .skills-table ul, body {
  font-family: 'Average', serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1rem; }

a {
  text-decoration: underline;
  color: tomato; }

.site-wrap {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto; }

section {
  margin-bottom: 1rem; }
  section:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }
  section .section-title {
    border-bottom: 1px solid #BBB;
    text-transform: uppercase;
    font-size: 2.1rem; }

/*# sourceMappingURL=style.css.map */
