@import url(http://fonts.googleapis.com/css?family=Average|Fjalla+One);
.site-wrap > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0; }
  .site-wrap > header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .site-wrap > header h1 {
    text-transform: uppercase;
    font-size: 3.3rem;
    font-weight: normal; }
  .site-wrap > header h1:first-word {
    font-weight: bold; }
  .site-wrap > header img.portrait {
    max-width: 200px;
    max-height: 200px; }
  .site-wrap > header .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: .5rem auto;
    font-size: 1rem; }
  .site-wrap > header ul.contacts {
    margin: .5rem 2rem .5rem 0;
    list-style: none;
    font-size: 0.9rem;
    font-weight: normal;
    color: #444; }
  .site-wrap > header ul.socials {
    display: flex;
    list-style: none;
    font-size: 2rem; }
    .site-wrap > header ul.socials li {
      margin: 1rem; }
    .site-wrap > header ul.socials i {
      color: #555;
      font-size: 1.2em;
      transition: transform 0.8s ease, color 0.5s ease; }
    .site-wrap > header ul.socials i:hover {
      color: #222; }
    .site-wrap > header ul.socials i.fa-github:hover {
      color: #111; }
    .site-wrap > header ul.socials i.fa-linkedin-square:hover {
      color: #1b5480; }
    .site-wrap > header ul.socials i.fa-stack-overflow:hover {
      color: #FF9900; }

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem;
  border-bottom: 1px solid #DDD; }
  .item header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%; }
  .item:last-child {
    border-bottom: none; }
  .item h3 {
    font-size: 1.6em; }
  .item h4 {
    font-size: 1rem;
    color: #888; }
  .item img {
    width: 150px;
    border: 1px solid #CCC;
    border-radius: 3px; }
  .item p {
    font-size: 1em;
    margin: 1em 0 0 0;
    text-align: justify; }
  .item ul {
    margin: 1rem 2rem;
    font-size: 0.9em; }

.education-item header .meta {
  list-style: none;
  font-size: 1rem;
  color: #888;
  margin: 0; }
  .education-item header .meta li {
    display: inline;
    margin-right: 1.5rem; }

.skills-table {
  width: 90%;
  margin: 1rem auto;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-collapse: collapse; }
  .skills-table tr {
    border-bottom: 1px solid #BBB; }
  .skills-table tr:last-child {
    border-bottom: none; }
  .skills-table td {
    width: 50%;
    padding: .5rem; }
  .skills-table td:nth-child(2) {
    font-weight: normal;
    font-style: italic;
    vertical-align: middle; }
  .skills-table ul {
    list-style: none;
    color: #666;
    font-size: 0.9rem;
    margin-top: .5rem;
    font-weight: normal; }
  .skills-table li {
    display: inline; }
  .skills-table li:after {
    content: ", "; }
  .skills-table li:last-child:after {
    content: "."; }

#goals p {
  width: 80%;
  margin: 1rem auto;
  text-align: justify;
  font-size: 1rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  color: #333; }

.sansserif, .education-item header .meta li, h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif; }

.serif, body {
  font-family: 'Average', serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1rem; }

a {
  text-decoration: underline;
  color: tomato; }

.site-wrap {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto; }

section {
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0; }
  section:last-child {
    margin-bottom: 0;
    padding-bottom: 0; }
  section .section-title {
    border-bottom: 1px solid #BBB;
    text-transform: uppercase;
    font-size: 2.1rem; }

/*# sourceMappingURL=style.css.map */
