@page {
	margin: 2rem 1rem;
}

html {
	font-size: 15px;
}

.site-wrap {
  margin: 0 auto;
}

.site-wrap > header {
	padding: 1rem 0;
	margin: 0;

	ul.socials {
		display: none;
	}
}

section {
	h2 {
		border: none;
	}
}

.item {
    margin: 0;
    padding: .5rem;
    page-break-inside: avoid;

    h3 {
      font-size: 1.4rem;
    }
    h4 {
    	color: #444;
    }
	img {
		display: none;
	}
	p {
		margin: 0 0 0.5rem 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.item.education-item {
	margin-bottom: 1rem;
}
.item.education-item:last-child {
	margin-bottom: 0;
}

.skills-table {
	border-color: gray;
	td {
		padding: .3rem;
	}
	td:nth-child(2) {
		font-weight: bold;
		font-size: 1.1rem;
	}
}