@page {
	margin: 0 auto;
}

html {
	font-size: 15px;
}

.site-wrap {
  margin: 0 auto;
}

.site-wrap > header {
	padding: 1rem 0;
	margin: 0;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2.3rem;
    }

	ul.contacts {
		margin: 1rem 0 0 0;
	}

	ul.socials {
		display: none;
	}
}

section {
	border-bottom: 1px solid gray;
	h2 {
		border: none;
        font-size: 2.0rem;
	}

	&#education {
//		page-break-before: always;
	}
}

.item {
	padding: 1rem;
    margin: 0;

    h3 {
      font-size: 1.4rem;
    }

	img {
		display: none;
	}

	p {
		margin: 0 0 0.5rem 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.item.current {
	font-size: 1.0em;
}
.item.education-item {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.skills-table {
	border-color: gray;
	td {
		padding: 1rem 0.5rem;
	}
	td:nth-child(2) {
		font-weight: bold;
		font-size: 0.9em;
	}
}

.pdf-button {
	display: none !important;
}