@import "partials/variables";
@import "partials/header";
@import "partials/items";
@import "partials/skillstable";
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font: 15px sans-serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bree Serif', serif;
	font-weight: normal;
}
h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1rem; }

a {
	text-decoration: underline;
	color: tomato;
}

.site-wrap {
	width: 800px;
	margin: 1rem auto;
}

section {
	margin: 0 0 2rem 0;
	padding: 1rem 0;

	h2 {
		border-left: 0.7rem solid $color;
		padding: 0.5rem 1rem;
	}
}

footer {
	padding: 1rem;
}