.site-wrap > header
	flex 0 0 100%
	padding 1rem 0

	.header-content
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		padding 0.5em

	h1
		text-transform uppercase
		font-size 4rem
		font-weight normal
		text-align center

	img.portrait
		max-width 200px
		max-height 200px
		border 3px solid gray

	ul.contacts
		list-style none
		text-align right
		li
			font-weight bold
			margin 0.4em 0
