.site-wrap > header {
	padding: 2rem 0 1rem 0;
	margin: 0 0 2rem 0;
	text-align: center;

	h1 {
		text-transform: uppercase;
	}

	ul.contacts {
		margin: 2rem 0;
		list-style: none;
		font-size: 0.8rem;
  		font-weight: bold;
		text-transform: uppercase;
		color: #444;
		li {
			margin: 0.2rem 0;
		}
	}
	ul.socials {
		list-style: none;
		font-size: 2rem;
		li {
			display: inline;
			margin: 0 1rem;
		}
		i {
			color: $color;
			font-size: 1.2em;
			transition: transform 0.8s ease, color 0.5s ease;
		}
		i:hover {
			transform: rotate(10deg) scale(1.1);
			color: #222;
		}
		i.fa-github:hover {
			color: #111;
		}
		i.fa-linkedin-square:hover {
			color: #1b5480;
		}
		i.fa-stack-overflow:hover {
			color: #FF9900;
		}
	}

	.pdf-button {
		position: absolute;
		top: 5px;
		left: 5px;
		display: block;
		background: rgb(88, 187, 101);
		border-radius: 0.2rem;
		padding: 0.5rem 1rem;
		color: white;
		text-decoration: none;
	}
}