.site-wrap > header {
	padding: 1rem 0;

	.header-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	h1 {
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: normal;
		text-align: center;
	}
	h1:first-word {
		font-weight: bold;
	}

	img.portrait {
		max-width: 200px;
		max-height: 200px;
		border: 3px solid gray;
	}

	.details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 75%;
		margin: .5rem auto;
		padding: 0;
		font-size: 1rem;
	}

	ul.contacts {
		margin: 1rem 0;
		list-style: none;
		font-size: 1.1rem;
  		font-weight: normal;
		color: #444;
		text-align: center;
	}
	ul.socials {
		display: flex;
		list-style: none;
		li {
			margin: 1rem;
		}
		i {
			font-size: 1.5rem;
			color: gray;
			transition: transform 0.8s ease, color 0.5s ease;
		}
		i.fa-github:hover {
			color: #111;
		}
		i.fa-linkedin-square:hover {
			color: #03659A;
		}
		i.fa-stack-overflow:hover {
			color: #FF9900;
		}
		i.fa-twitter:hover {
			color: #4099FF;
		}
	}
}
