.item {
	padding: 1rem;
	border-bottom: 1px solid #DDD;

	&:last-child {
		border-bottom: none;
	}

	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1rem;
		color: #888;
	}
	img {
		width: 150px;
		min-width: 150px;
		max-height: 90px;
		border: 1px solid #CCC;
	}
	p {
		font-size: 1em;
		text-align: justify;
	}
	ul {
		margin: 1rem 2rem;
		font-size: 0.9em;
	}
}

.education-item {
	display: flex;
	flex-direction: column;

	header {
		margin-bottom: .5rem;

		.meta {
			list-style: none;
			font-size: 1rem;
			color: #888;
			margin: 0;
			li {
				@extend .sansserif;
				display: inline;
				margin-right: 1.5rem;
			}
		}
	}
}

.work-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	hgroup {
		margin-bottom: .5rem;
	}

	.content {
		margin-right: 1rem;
	}
}
