.item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
	border-bottom: 1px solid #CCC;

	h3 {
		font-size: 1.7em;
		span {
			display: block;
			color: gray;
			font-size: 0.7em;
			font-family: sans-serif;
			font-weight: normal;
		}
	}
	img {
		width: 150px;
		border: 1px solid #CCC;
		border-radius: 3px;
	}
	p {
		font-size: 1em;
		margin: 1em 0 0 0;
		text-align: justify;
	}
	ul {
		margin: 1rem 2rem;
		font-size: 0.9em;
	}
}
.item.current {
	font-size: 1.2em;
}

.education-item {
	header .meta {
		list-style: none;
		color: gray;
		font-size: 1em;
		font-weight: bold;
		margin: 0;
		li {
			display: inline;
			margin-right: 1.5rem;
		}
	}
}
