.skills-table {
	width: 90%;
	margin: 1rem auto;
	font-size: 1.1rem;
	font-weight: bold;
	border: none;
	border-collapse: collapse;

	tr {
		border-bottom: 1px solid #BBB;
	}
	tr:last-child {
		border-bottom: none;
	}

	td:nth-child(1) {
		@extend .sansserif;
		width: 75%;
		padding: .5rem;
	}
	td:nth-child(2) {
		@extend .sansserif;
		font-size: 1.1rem;
		font-style: normal;
		font-weight: normal;
		text-align: right;
	}

	ul {
		@extend .serif;
		list-style: none;
		color: #666;
		font-size: 0.9rem;
		margin-top: .5rem;
		font-weight: normal;
	}

  	li {
	  display: inline;
	}
  	li:after {
	  content: ", ";
	}
  	li:last-child:after {
	  content: ".";
	}
}
