.skills-table {
	width: 90%;
	margin: 1rem auto;
	font-size: 1.1rem;
	font-weight: bold;
	border: 1px solid #BBB;
	border-collapse: collapse;

	td {
		width: 50%;
		border: 1px solid #BBB;
		padding: 1rem;
	}
	td:nth-child(2) {
		font-weight: normal;
		font-style: italic;
		vertical-align: top;
	}

	ul {
		list-style: none;
		color: #666;
		font-size: 0.9rem;
		margin: 0.5rem 0 0 0.5rem;
		font-weight: normal;
	}

  	li {
	  display: inline;
	}
  	li:after {
	  content: ", ";
	}
  	li:last-child:after {
	  content: ".";
	}
}