* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #13292c;
  font: 16px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #333;
  line-height: 1.2;
}

.wrapper {
  max-width: 21cm;
  margin: 1em auto;
  padding: 0 2em;
  background: white;
  border: 1px solid #AAA;
}

span.emoji {
  margin: 0.1em;
  font-size: 1em;
  vertical-align: text-bottom;
}
